.headline{
  font-size:2em;
  font-weight:700;
  text-align:center;
  font-family: 'times new roman', sans-serif;
  text-transform:uppercase;
  padding-top:10px;
}

.byline{
  font-size:1em;
  font-weight:700;
  text-transform:uppercase;
  font-family: 'times new roman', sans-serif;
  text-align:center;
  color:#8b0000;
  border-bottom: 1px solid#d2b48c;
  margin-bottom:40px;
  padding:15px 0 15px 0;
}

p{
  font-family:'times new roman', serif;
  line-height:180%;
}

.chapterheadline{
  font-size:1.5em;
  font-weight:600;
  font-family: "monserrat", sans-serif;
  color:#8b0000;
  text-transform:uppercase;
}

.caption{
  font-family: "monserrat", sans-serif;
  color: #808080;
  font-style: italic;
}

.footer{
  font-size:1em;
  text-transform:uppercase;
  text-align:center;
  font-family: "monserrat", sans-serif;
}

/* tophat */
.nav-logo{
  color: #fff;
  margin:0 auto;
  font-weight:700;
  text-transform:uppercase;
}

.red{
  color:#d2b48c;
}

/* splash area */
.hero-container{
  position:relative;
  text-align:center;
  color:#fff;
}

.hero-image{
  width:100%;
}

.overlay{
  position:absolute;
  top:30%;
  width:100%;
  background:#000;
  opacity:.75;
}

.hero-hed{
  font-family:'times new roman', serif;
  font-size:6em;
  color:#fff;
  margin:0 auto;
}

.hero-sub{
  font-family: "monserrat", sans-serif;
  font-size:1em;
  padding-bottom:10px;
}

/*quote*/
.quote{
  font-family:"times new roman", sans-serif;
  color:#8b0000;
  font-size:3em;
  font-weight:700;
  text-align:left;
  padding:15px 0 15px 0;
  border-top: 1px solid #8b0000;
  border-bottom: 1px solid #8b0000;
  margin-top:20px;
  margin-bottom:20px;
}

.quote-attribution{
  font-size:.5em;
  font-family:"monserrat", sans-serif;
  font-weight:100;
  text-align:left;
  color:#000;
}

.sidebar{
  font-family:"monserrat", sans-serif;
  margin-top:20px;
  margin-bottom:20px;
  padding:15px 0 15px 0;
  background:#d2b48c;
  opacity:.8;
  color:#000;
  font-style: italic;
  padding-left:30px;
  padding-right:30px;
}

.title-sidebar{
  color:#fff;
  font-size:2em;
  text-transform:uppercase;
  font-family:"times new roman", sans-serif;
}

.bold{
  font-weight:700;
}

.ending{
  font-family: "monserrat", sans-serif;
  color: #808080;
  font-style: italic;
  padding-bottom:30px;
  padding-top:10px;
  text-align:center;
}

@media(max-width:750px) {
  p{
    padding-left:20px;
    padding-right:10px;
  }

  .chapter-head{
    font-size:1.25em;
  }

  .hed{
    font-size:2em;
  }

  .hero-hed{
    font-size:1.5em;
  }
}
